<link rel="stylesheet" href="/css/public/table.css">

<div class="table-heading">
	<span><%= data.tableName1 %></span>
	<span><%= data.tableName2 %></span>
</div>
<input id="tableSearch" type="text" placeholder="search in table..">
<table>
	<thead>
		<tr>
			<th>N</th>
			<% for (let key in table) { %>
				<th><%= key %></th>
			<% } %>
		</tr>
	</thead>
	<tbody id="tbodyElement">
		<% let keys = Object.keys(table) %>
		<% for (let index = 0; index < table[keys[0]].length; index++) { %>
			<tr>
				<% let ind = true %>
				<% for (let i = 0; i < keys.length; i++) { %>
					<% let type = table[keys[i]][index].type %>
					<% if (ind) { %>
						<td> <%= index + 1 %> </td>
						<% ind = false %>
					<% } %>
					<% if (type == 'link') { %>
						<td> <a href="<%= table[keys[i]][index].link %>"><%= table[keys[i]][index].text %></a> </td>
					<% } else if (type == 'button') { %>
						<td> <button> <%= table[keys[i]][index].text %></button> </td>
					<% } else { %>
						<td> <%= table[keys[i]][index].text %> </td>
					<% } %>
				<% } %>
			</tr>
		<% } %>
	</tbody>
</table> 
<script src="/js/table.js"></script>